body, html {
	margin: 0;
	background-color: black;
}

h1 {
	color: white;
	border: 2px solid white;
	margin: 20px;
	text-align: center;
}

p {
	display: inline-block;
	color: white;
	width: 120px;
	margin: 5px 5px 5px 50px;
}

label {
	color: white;

}

table {
	color: white;
	width: 70%;
 	margin-left: 15%;
 	margin-right:15%;

	
}

tr:hover {
	background-color: white;
	color: black;
}

#stad:hover {
	background-color: white;
	color: black;
}

@media only screen and (max-width: 400px) {
	h1 {
	font-size:25px;
	}
}

@media only screen and (min-width: 700px) {
	#frame {
	display: grid;
	grid-template-columns: 1fr 1fr;
	}
	
	#myLocation {grid-column: 1}
	#weatherInfo{grid-column: 2}
	#countryList{grid-column: 1/3}
}